<%= stylesheet_link_tag 'user_accounts.css.scss' %>

<h2>My Account</h2>
<% if not @user_account.lock %>
    <% if @user_account.roles.size.eql? 1 and @user_account.roles.first.name.eql? 'user' %>
        <h3>This is only a normal user account, but you can select one of these options to your account:</h3>
        <ul class="account_options">
          <li>
            <%= link_to "Create your click&eat restaurant!", new_restaurant_path %>
          </li>
          <li>
            <%= link_to "Join your restaurant as an employee!", url_for(controller: 'user_accounts', action: 'join_restaurant') %>
          </li>
        </ul>
    <% else %>
        <% @user_account.roles.each do |role| %>
            <% if role.name.eql? 'employee' or role.name.eql? 'manager' %>
                <% unless @user_account.restaurant.branches.blank? %>
                    <p class="option_type">Service options:</p>
                    <ul class="account_options">
                      <!-- TODO Najum submit form onchange and set current_branch on current_user -->
                      <%= form_tag change_branch_path do %>
                          Select
                          branch:  <%= select_tag :branch_id, options_for_select(@branches.collect { |branch| [branch.address.street, branch.id] }, @current_branch_id), {onchange: "this.form.submit();"} %>
                      <% end %>
                      <!--TODO Najum branch_orders_path(current_user.current_branch)-->
                      <li><%= link_to "Orders", branch_orders_path(@current_branch_id) %></li>
                      <!--TODO Najum monitor_path(current_user.current_branch)-->
                      <li><%= link_to "Open monitor", monitor_path(@current_branch_id) %></li>
                    </ul>
                <% else %>
                    <p class="alert">Create at least one branch, to use the awesome order and monitor feature</p>
                <% end %>
            <% end %>
            <% if role.name.eql? 'manager' %>
                <p class="option_type">Management options:</p>
                <ul class="account_options">
                  <li> <%= link_to "Edit your restaurant", edit_restaurant_path(@user_account.restaurant) %> </li>
                  <li><%= link_to "Create a branch", new_branch_path %></li>
                  <% if not @user_account.restaurant.item_categories.nil? and not @user_account.restaurant.item_categories.size.eql? 0 %>
                      <li>
                        <%= link_to "Edit your online menu", create_or_edit_menu_path %></li>
                  <% else %>
                      <li>
                        <%= link_to "Create your online menu", create_or_edit_menu_path %></li>
                  <% end %>
                </ul>
            <% end %>
        <% end %>
    <% end %>
<% else %>
    <h1>Your account console is currently unavailable, until your employee request has been responsed</h1>
<% end %>
