<h1>Create new order</h1>
<%= form_for @order, :url => {:action => "create"} do |f| %>
    <%= select("order", "table_id", @tables.collect { |p| ["Table #{p.table_number}", p.id] }) %>
    <%= f.submit "Create" %>
<% end %>

<!--<hr/>-->

<h1>Orders</h1>
<table>
  <thead>
  <tr>
    <th>Tischnummer</th>
    <th>Bestellnummer</th>
  </tr>
  </thead>
  <tbody>
  <% @orders.each do |order| %>
      <tr>
        <td><%= order.table.table_number %></td>
        <td><%= link_to order.id, branch_order_path(params[:branch_id], order) %> </td>
      </tr>
  <% end %>
  </tbody>
</table>
