<%= stylesheet_link_tag 'restaurants.css.scss' %>

<h2>Check out all new restaurants!</h2>
<table id="latest_restaurants">
  <% @restaurants.each do |restaurant| %>
      <tr>
        <td>
          <!--<%= image_tag url_for(controller: 'picture', action: 'get_restaurant_picture', restaurant_id: restaurant.id) %>-->
          <%= image_tag restaurant.avatar.url(:thumb) %>
        </td>
        <td>
          <ul class="no_enum_ul">
            <li class="name"><%= restaurant.name %></li>
            <li>Kitchen:
              <% restaurant.types.each do |type| %>
                  <% if type.eql? restaurant.types.last %>
                      <%= type.name %>
                  <% else %>
                      <%= type.name+ ", " %>
                  <% end %>
              <% end %>
            </li>
            <li class="restaurant_links">
              <%= link_to "show menu", url_for(controller: 'restaurants', action: 'menu', id: restaurant.id) %>
              <%= link_to "show details", url_for(controller: 'restaurants', action: 'show', id: restaurant.id) %>
            </li>
          </ul>
        </td>
      </tr>
  <% end %>
</table>
