<%= stylesheet_link_tag 'restaurants.css.scss' %>

<h2>Online menu card</h2>
<h2><%= @restaurant.name %> </h2>
<% if @restaurant.item_categories.length == 0 || @restaurant.item_categories.nil? %>
    <h2>This restaurant has no online menu yet</h2>
<% else %>
    <ul class="no_enum_ul">
      <% @restaurant.item_categories.each do |category| %>
          <li>
            <p class="category_name"><%= category.name %></p>
            <ul class="no_enum_ul">
              <% category.items.each do |item| %>
                  <li class="item">
                    <%= image_tag url_for(controller: 'picture', action: 'get_item_picture', item_id: item.id) %>
                    <%= item.name %>  <%= item.price %>&#8364;
                <span class="hidden_text">
                <p class="item_description"><%= item.description %></p>
                </span>
                  </li>
              <% end %>
            </ul>
          </li>
      <% end %>
    </ul>
<% end %>