<%= stylesheet_link_tag 'order_item.css.scss' %>
<% content_for :head, javascript_include_tag(:orders_monitor) %>
<h2>Monitor</h2>
<div id="filterDefinition">
  <h1>Filter</h1>
  <% filter = current_user.filter_definition %>
  <form>
    <ul>
      <li>
        <label for="cookable">Cookable</label>
        <select id="cookable" name="cookable">
          <option value="null" <%= "selected" if filter.cookable == nil %> >both</option>
          <option value="false" <%= "selected" if filter.cookable == false %> >Not cookable</option>
          <option value="true" <%= "selected" if filter.cookable == true %> >Cookable</option>
        </select>
      </li>
      <li>
        <label for="cooked">Cooked</label>
        <select id="cooked" name="cooked">
          <option value="null" <%= "selected" if filter.cooked == nil %> >both</option>
          <option value="false" <%= "selected" if filter.cooked == false %> >Not cooked</option>
          <option value="true" <%= "selected" if filter.cooked == true %> >Cooked</option>
        </select>
      </li>
      <li>
        <label for="served">Served</label>
        <select id="served" name="served">
          <option value="null" <%= "selected" if filter.served == nil %> >both</option>
          <option value="false" <%= "selected" if filter.served == false %> >Not served</option>
          <option value="true" <%= "selected" if filter.served == true %> >Served</option>
        </select>
      </li>
      <li>
        <label for="tables">Table no</label>

        <select id="tables" name="tables" multiple>
          <% @tables.each do |table| %>
                  <option value='<%= table.table_number %>'<%= "selected" if filter.tables.include?(table.table_number) %>>Table  <%= table.table_number %></option>
          <% end %>
        </select>
      </li>
      <li>
        <input type="button" value="Apply" id="apply" class="button">
      </li>
    </ul>
  </form>
</div>

<div id="monitor">

</div>