<!DOCTYPE html>
<html>
<head>
  <title>ClickAndEat</title>
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:100,400' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag :jquery, :jquery_ujs, :filter, :notifications, :order_items_helper, :order_items_templates, "http://localhost:9292/faye.js" %>
  <%= yield(:head) %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <h1> <%= link_to "Click&Eat", root_path %> </h1>

  <% if user_signed_in? %>
      <div id="notifications">

        <p><%= link_to "Monitor notifications", user_accounts_path %>
          <span id="notification-count">(0)</span></p>

        <p><%= link_to "Messages", messages_path %> (<%= current_user.messages.size %>)</p>
      </div>

      <p id="welcome"> Welcome <%= current_user.name %></p>

      <p> <%= link_to "My Account", user_accounts_path %></p>

      <p> <%= link_to "Log out", logout_path, method: :delete %> </p>

  <% else %>
      <p> <%= link_to "Log in", login_path %> </p>
  <% end %>
</header>

<div id="content">
  <p class="notice" <%= "style=display:none" unless flash[:notice] %>>
    <%= flash[:notice] %>
  </p>

  <p class="alert" <%= "style=display:none" unless flash[:alert] %>>
    <%= flash[:alert] %>
  </p>

  <%= yield %>

</div>

<footer>
  <p>Copyright &copy; 2012 Felix & Najum</p>
</footer>

</body>
</html>
