<!DOCTYPE html>
<html>
<head>
  <title>ClickAndEat</title>
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:100,400' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <!--TODO separate javascript files-->
  <!--TODO refactor javascript files-->
  <%= javascript_include_tag "application", "http://localhost:9292/faye.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <h1> <%= link_to "Click&Eat", root_path %> </h1>

  <% if user_signed_id? %>
      <div id="notifications">
        <%= link_to "Notifications", monitor_path(2) %> <span id="notification-count">(0)</span>
      </div>

      <p id="welcome"> Welcome <%= current_user.name %>!</p>

      <p> <%= link_to "My Account", url_for(controller: 'user_accounts', action: 'index') %></p>

      <p> <%= link_to "Log out", logout_path, method: :delete %> </p>

  <% else %>
      <p> <%= link_to "Sign up", new_user_account_path %> </p>

      <p> <%= link_to "Log in", login_path %> </p>
  <% end %>
</header>

<div id="content">
  <p id="notice" <%= "style=display:none" unless flash[:notice] %>>
    <%= flash[:notice] %>
  </p>

  <p id="alert" <%= "style=display:none" unless flash[:alert] %>>
    <%= flash[:alert] %>
  </p>

  <%= yield %>

</div>

<footer>
  <p>Copyright &copy; 2012 Felix & Najum</p>
</footer>

</body>
</html>
